<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Update priority</title>
</head>

<body>
<div class="container">
    <h3>Priorities</h3>
    <hr>

    <p class="h4 mb-4">Update priority</p>

    <form action="#" th:action="@{/priority/save}" th:object="${priority}"
          method="POST">

        <input type="hidden" th:field="*{id}">

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4"
               placeholder="Name" required>

        <button type="submit" class="btn btn-warning col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/priority/list}">Go to priority list</a>
</div>
</body>

</html>